[mysql-proxy]
# proxy-address = :4040
proxy-address = :%(MYSQL_PROXY_PORT)s

# proxy-backend-addresses = 127.0.0.1:3306
# TODO : is it usefull for multi node ?
proxy-backend-addresses = %(MYSQLD_HOST)s:%(MYSQLD_PORT)s
