[mysql-proxy]
# proxy-address = :4040
proxy-address = :%(MYSQL_PROXY_PORT)s

# proxy-backend-addresses = 127.0.0.1:3306
# TODO : is it usefull for multi node ?
proxy-backend-addresses = %(MYSQLD_HOST)s:%(MYSQLD_PORT)s

log-file=%(QSERV_LOG_DIR)s/mysql-proxy.log
log-level=debug

lua-path=%(QSERV_LUA_SHARE)s/?.lua;%(QSERV_LUA_SHARE)s/?/init.lua;%(QSERV_LUA_SHARE)s/?/?.lua
lua-cpath=%(QSERV_LUA_LIB)s/?.so;%(QSERV_LUA_LIB)s/?/?.so
proxy-lua-script = %(QSERV_BASE_DIR)s/qserv/master/proxy/mysqlProxy.lua
