version: "3.9"
x-worker-mariadb:
    &worker-mariadb
    image: "${QSERV_MARIADB_IMAGE:?err}"
    init: true
    command: --port 3306
    environment:
        MYSQL_ROOT_PASSWORD: CHANGEME
x-worker-mariadb-cnf-volume:
    &worker-mariadb-cnf-volume
    - type: bind
      source: ../../../../src/admin/templates/mariadb/etc/my.cnf
      target: /etc/mysql/my.cnf
x-log-volume:
    &log-volume
    - type: bind
      source: ./log/
      target: /config-etc/log/
x-worker-cmsd:
    &worker-cmsd
    image: "${QSERV_IMAGE:?err}"
    init: true
    # ports are published in worker_xrootd because this container uses that container's network stack.
x-worker-xrootd:
    &worker-xrootd
    image: "${QSERV_IMAGE:?err}"
    init: true
    expose:
        - "1094"
        - "2131"
        - "3306" # for the worker db, which shares this container's network stack.
x-repl-worker:
    &repl-worker
    image: "${QSERV_IMAGE:?err}"
    init: true
    expose:
        - "25000"
        - "25001"
        - "25002"
        - "25003"
        - "25004"

volumes:
    volume_czar_xrootd:
    volume_czar_home:
    volume_czar_cfg:

    volume_czar_mariadb_data:
    volume_czar_mariadb_cfg:
    volume_czar_mariadb_home:
    volume_czar_mariadb_lib:
    volume_czar_mariadb_log:
    volume_czar_mariadb_run:

    volume_worker_0_data:
    volume_worker_0_results:
    volume_worker_0_xrootd:
    volume_worker_0_home:
    volume_worker_0_mariadb_lib:
    volume_worker_0_mariadb_run:

    volume_worker_1_data:
    volume_worker_1_results:
    volume_worker_1_xrootd:
    volume_worker_1_home:
    volume_worker_1_mariadb_lib:
    volume_worker_1_mariadb_run:

    volume_repl_mariadb_data:
    volume_repl_mariadb_home:
    volume_repl_mariadb_lib:

    volume_repl_worker_0_cfg:
    volume_repl_worker_1_cfg:

networks:
    default:
        ipam:
            driver: default
            config:
                - subnet: 192.168.3.0/24

services:
    # worker 0 uses and validates ip+port to connect to the worker_mariadb
    worker_mariadb_0:
        << : *worker-mariadb
        volumes:
            - << : *worker-mariadb-cnf-volume
            - type: volume
              source: volume_worker_0_data
              target: /qserv/data
            - type: volume
              source: volume_worker_0_results
              target: /qserv/data/results
            - type: volume
              source: volume_worker_0_mariadb_lib
              target: /var/lib/mysql
            - type: volume
              source: volume_worker_0_mariadb_run
              target: /var/run/mysqld  # This is where the mariadb container puts the socket file
        network_mode: "service:worker_xrootd_0"
    worker_xrootd_0:
        << : *worker-xrootd
        command: >
          entrypoint worker-xrootd
          --db-uri mysql://qsmaster:CHANGEME2@127.0.0.1:3306
          --db-admin-uri mysql://root:CHANGEME@127.0.0.1:3306
          --vnid-config "@/usr/local/lib64/libreplica.so {{db_uri}}/qservw_worker 0 0"
          --repl-instance-id qserv_proj
          --repl-auth-key replauthkey
          --repl-admin-auth-key=repladminauthkey
          --repl-registry-host repl_registry
          --repl-registry-port 25082
          --results-dirname /qserv/data/results
          --cmsd-manager-name czar_xrootd
          --mysql-monitor-password CHANGEME_MONITOR
          --log-cfg-file=/config-etc/log/log-worker-xrootd.cnf
        volumes:
            - type: volume
              source: volume_worker_0_results
              target: /qserv/data/results
            - type: volume
              source: volume_worker_0_xrootd
              target: /var/run/xrootd
            - type: volume
              source: volume_worker_0_home
              target: /home/qserv
            - type: volume
              source: volume_worker_0_mariadb_run
              target: /qserv/mariadb/run  # This matches the ?socket=... location in --db-uri and --db-admin-uri
            - << : *log-volume
        networks:
            default:
                aliases:
                    - worker_cmsd_0
                    - worker_mariadb_0
    worker_cmsd_0:
        << : *worker-cmsd
        command: >
          entrypoint worker-cmsd
          --db-uri mysql://qsmaster:CHANGEME2@worker_mariadb_0:3306
          --vnid-config "@/usr/local/lib64/libreplica.so mysql://qsmaster:CHANGEME2@127.0.0.1:3306/qservw_worker 0 0"
          --results-dirname /qserv/data/results
          --repl-instance-id qserv_proj
          --repl-auth-key replauthkey
          --repl-admin-auth-key=repladminauthkey
          --repl-registry-host repl_registry
          --repl-registry-port 25082
          --cmsd-manager-name czar_xrootd
        network_mode: "service:worker_xrootd_0"
        volumes:
            - type: volume
              source: volume_worker_0_results
              target: /qserv/data/results
            - type: volume
              source: volume_worker_0_xrootd
              target: /var/run/xrootd
            - type: volume
              source: volume_worker_0_home
              target: /home/qserv
            - type: volume
              source: volume_worker_0_mariadb_run
              target: /qserv/mariadb/run  # This matches the ?socket=... location in --db-uri and --db-admin-uri
            - << : *log-volume
    repl_worker_0:
        << : *repl-worker
        command: >
          entrypoint worker-repl
          --db-admin-uri mysql://root:CHANGEME@worker_mariadb_0:3306/qservw_worker
          --repl-connection mysql://qsreplica@repl_mariadb:3306/qservReplica
          --log-cfg-file=/config-etc/log/log-repl-worker.cnf
          --
          --instance-id=qserv_proj
          --auth-key=replauthkey
          --admin-auth-key=repladminauthkey
          --registry-host=repl_registry
          --debug
        volumes:
            - type: volume
              source: volume_worker_0_data
              target: /qserv/data
            - type: volume
              source: volume_repl_worker_0_cfg
              target: /config-etc
            - type: volume
              source: volume_worker_0_home
              target: /home/qserv
            - << : *log-volume
    # worker 1 uses and validates socket file (where possible) to connect to the worker_mariadb
    worker_mariadb_1:
        << : *worker-mariadb
        volumes:
            - << : *worker-mariadb-cnf-volume
            - type: volume
              source: volume_worker_1_data
              target: /qserv/data
            - type: volume
              source: volume_worker_1_results
              target: /qserv/data/results
            - type: volume
              source: volume_worker_1_mariadb_lib
              target: /var/lib/mysql
            - type: volume
              source: volume_worker_1_mariadb_run
              target: /var/run/mysqld  # This is where the mariadb container puts the socket file
        network_mode: "service:worker_xrootd_1"
    worker_xrootd_1:
        << : *worker-xrootd
        command: >
          entrypoint --log-level DEBUG worker-xrootd
          --db-uri mysql://qsmaster:CHANGEME2@127.0.0.1:3306?socket={{db_socket}}
          --db-admin-uri mysql://root:CHANGEME@127.0.0.1:3306?socket={{db_socket}}
          --vnid-config "@/usr/local/lib64/libreplica.so mysql://qsmaster:CHANGEME2@127.0.0.1:3306/qservw_worker 0 0"
          --repl-instance-id qserv_proj
          --repl-auth-key replauthkey
          --repl-admin-auth-key=repladminauthkey
          --repl-registry-host repl_registry
          --repl-registry-port 25082
          --results-dirname /qserv/data/results
          --cmsd-manager-name czar_xrootd
          --mysql-monitor-password CHANGEME_MONITOR
          --targs db_socket=/qserv/mariadb/run/mysqld.sock
          --log-cfg-file=/config-etc/log/log-worker-xrootd.cnf
        volumes:
            - type: volume
              source: volume_worker_1_results
              target: /qserv/data/results
            - type: volume
              source: volume_worker_1_xrootd
              target: /var/run/xrootd
            - type: volume
              source: volume_worker_1_home
              target: /home/qserv
            - type: volume
              source: volume_worker_1_mariadb_run
              target: /qserv/mariadb/run  # This matches the ?socket=... location in --db-uri and --db-admin-uri
            - << : *log-volume
        networks:
            default:
                aliases:
                    - worker_cmsd_1
                    - worker_mariadb_1
    worker_cmsd_1:
        << : *worker-cmsd
        command: >
          entrypoint --log-level DEBUG worker-cmsd
          --db-uri mysql://qsmaster:CHANGEME2@worker_mariadb_1:3306?socket=/qserv/mariadb/run/mysqld.sock
          --vnid-config "@/usr/local/lib64/libreplica.so mysql://qsmaster:CHANGEME2@127.0.0.1:3306/qservw_worker 0 0"
          --results-dirname /qserv/data/results
          --repl-instance-id qserv_proj
          --repl-auth-key replauthkey
          --repl-admin-auth-key=repladminauthkey
          --repl-registry-host repl_registry
          --repl-registry-port 25082
          --cmsd-manager-name czar_xrootd
        network_mode: "service:worker_xrootd_1"
        volumes:
            - type: volume
              source: volume_worker_1_results
              target: /qserv/data/results
            - type: volume
              source: volume_worker_1_xrootd
              target: /var/run/xrootd
            - type: volume
              source: volume_worker_1_home
              target: /home/qserv
            - type: volume
              source: volume_worker_1_mariadb_run
              target: /qserv/mariadb/run
            - << : *log-volume
    repl_worker_1:
        << : *repl-worker
        # qserv-replica-worker app does not support socket file yet.
        command: >
          entrypoint worker-repl
          --db-admin-uri mysql://root:CHANGEME@worker_mariadb_1:3306/qservw_worker
          --repl-connection mysql://qsreplica@repl_mariadb:3306/qservReplica
          --log-cfg-file=/config-etc/log/log-repl-worker.cnf
          --
          --instance-id=qserv_proj
          --auth-key=replauthkey
          --admin-auth-key=repladminauthkey
          --registry-host=repl_registry
          --debug
        volumes:
            - type: volume
              source: volume_worker_1_data
              target: /qserv/data
            - type: volume
              source: volume_repl_worker_1_cfg
              target: /config-etc
            - type: volume
              source: volume_worker_1_home
              target: /home/qserv
            - << : *log-volume
    czar_xrootd:
        image: "${QSERV_IMAGE:?err}"
        init: true
        command: >
          entrypoint xrootd-manager
          --cmsd-manager-name czar_xrootd
        hostname: czar_xrootd
        expose:
            - "1094"
            - "2131"
        volumes:
            - type: volume
              source: volume_czar_xrootd
              target: /var/run/xrootd
            - type: volume
              source: volume_worker_1_home
              target: /home/qserv
            - << : *log-volume
        networks:
            default:
                aliases:
                    - czar_cmsd
    czar_cmsd:
        image: "${QSERV_IMAGE:?err}"
        init: true
        # NOTE!! cms-delay-servers must match the number of workers being launched!
        command: entrypoint cmsd-manager --cms-delay-servers 2
        network_mode: "service:czar_xrootd"
        volumes:
            - type: volume
              source: volume_czar_xrootd
              target: /var/run/xrootd
            - type: volume
              source: volume_czar_home
              target: /home/qserv
            - << : *log-volume
    czar_mariadb:
        image: "${QSERV_MARIADB_IMAGE:?err}"
        init: true
        command: --port 3306
        network_mode: "service:czar_proxy"
        environment:
            MYSQL_ROOT_PASSWORD: CHANGEME
        volumes:
            - type: volume
              source: volume_czar_mariadb_data
              target: /qserv/data
            - type: bind
              source: ../../../../src/admin/templates/mariadb/etc/my.cnf
              target: /etc/mysql/my.cnf
            - type: volume
              source: volume_czar_mariadb_lib
              target: /var/lib/mysql
            - type: volume
              source: volume_czar_mariadb_log
              target: /var/log/mysql
            - type: volume
              source: volume_czar_mariadb_run
              target: /var/run/mysqld
    czar_proxy:
        image: "${QSERV_IMAGE:?err}"
        init: true
        command: >
          entrypoint --log-level DEBUG proxy
          --db-uri mysql://qsmaster:CHANGEME2@127.0.0.1:3306?socket={{db_socket}}
          --db-admin-uri mysql://root:CHANGEME@127.0.0.1:3306?socket={{db_socket}}
          --targs db_socket=/qserv/mariadb/run/mysqld.sock
          --xrootd-manager czar_xrootd
          --log-cfg-file=/config-etc/log/log-czar-proxy.cnf
          --repl-instance-id qserv_proj
          --repl-auth-key replauthkey
          --repl-admin-auth-key=repladminauthkey
          --repl-registry-host repl_registry
          --repl-registry-port 25082
        volumes:
            - type: volume
              source: volume_czar_mariadb_data
              target: /qserv/data
            - type: volume
              source: volume_czar_mariadb_cfg
              target: /config-etc
            - type: volume
              source: volume_czar_mariadb_home
              target: /home/qserv
            - type: volume
              source: volume_czar_mariadb_run
              target: /qserv/mariadb/run
            - << : *log-volume
        expose:
            - "3306" # for czar_mariadb
            - "4040"
        networks:
            default:
                aliases:
                    - czar_mariadb
        # ports:
        #     - "127.0.0.1:4040:4040"
    czar_http:
        image: "${QSERV_IMAGE:?err}"
        init: true
        command: >
          entrypoint --log-level DEBUG czar-http
          --db-uri mysql://qsmaster:CHANGEME2@czar_mariadb:3306/
          --xrootd-manager czar_xrootd
          --czar-name http
          --http-port 4048
          --http-threads 4
          --http-worker-ingest-threads 2
          --http-ssl-cert-file /config-etc/ssl/czar-cert.pem
          --http-ssl-private-key-file /config-etc/ssl/czar-key.pem
          --http-tmp-dir /tmp
          --http-conn-pool-size 2
          --log-cfg-file=/config-etc/log/log-czar-proxy.cnf
          --repl-instance-id qserv_proj
          --repl-auth-key replauthkey
          --repl-admin-auth-key=repladminauthkey
          --repl-registry-host repl_registry
          --repl-registry-port 25082
        volumes:
            - type: volume
              source: volume_czar_cfg
              target: /config-etc
            - type: volume
              source: volume_czar_home
              target: /home/qserv
            - << : *log-volume
        expose:
            - "4048"
        ports:
            - "0.0.0.0:${QSERV_HTTP_FRONTEND_PORT:-4048}:4048"
    repl_mariadb:
        image: "${QSERV_MARIADB_IMAGE:?err}"
        init: true
        command: --port 3306
        expose:
            - "3306"
        environment:
            MYSQL_ROOT_PASSWORD: CHANGEME
        volumes:
            - type: volume
              source: volume_repl_mariadb_data
              target: /qserv/data
            - type: bind
              source: ../../../../src/admin/templates/repl-db/etc/my.cnf
              target: /etc/mysql/my.cnf
            - type: volume
              source: volume_repl_mariadb_lib
              target: /var/lib/mysql
    repl_controller:
        image: "${QSERV_IMAGE:?err}"
        init: true
        command: >
          entrypoint --log-level DEBUG replication-controller
          --db-uri mysql://qsreplica@repl_mariadb:3306/qservReplica
          --db-admin-uri mysql://root:CHANGEME@repl_mariadb:3306/qservReplica
          --qserv-czar-db=mysql://root:CHANGEME@czar_mariadb:3306/qservMeta
          --log-cfg-file=/config-etc/log/log-repl-controller.cnf
          --
          --instance-id=qserv_proj
          --auth-key=replauthkey
          --admin-auth-key=repladminauthkey
          --xrootd-host=czar_xrootd
          --registry-host=repl_registry
          --controller-auto-register-workers=1
          --qserv-sync-force
          --qserv-chunk-map-update
          --debug
        expose:
            - "25081"
        ports:
            - "0.0.0.0:${QSERV_DASHBOARD_PORT:-25081}:25081"
        volumes:
            - type: volume
              source: volume_repl_mariadb_data
              target: /qserv/data
            - type: volume
              source: volume_repl_mariadb_home
              target: /home/qserv
            - type: bind
              source: ../../../../src/www
              target: /usr/local/qserv/www
            - << : *log-volume
    repl_registry:
        image: "${QSERV_IMAGE:?err}"
        init: true
        command: >
          entrypoint --log-level DEBUG replication-registry
          --db-uri mysql://qsreplica@repl_mariadb:3306/qservReplica
          --db-admin-uri mysql://root:CHANGEME@repl_mariadb:3306/qservReplica
          --log-cfg-file=/config-etc/log/log-repl-registry.cnf
          --
          --instance-id=qserv_proj
          --auth-key=replauthkey
          --admin-auth-key=repladminauthkey
          --debug
        expose:
            - "25082"
        volumes:
            - << : *log-volume
