{{- $myjob := .Values.replSmig | default (dict) -}}
{{- $trig  := get $myjob "runId" | default "" | toString -}}
{{- if $trig -}}
{{- $name := include "qserv.name" . -}}
{{- $ns := .Release.Namespace -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{$name}}-repl-smig-{{$trig}}
  labels:
    {{- include "qserv.labels" . | nindent 4 }}
    app.kubernetes.io/component: schema
spec:
  completionMode: Indexed
  completions: 1
  backoffLimit: 0
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        {{- include "qserv.labels" . | nindent 8 }}
        app.kubernetes.io/component: schema
    spec:
      restartPolicy: Never
      containers:
        - name: repl-smig
          image: {{ .Values.qservImageName | quote }}
          imagePullPolicy: {{ .Values.qservImagePullPolicy | quote }}
          env:
            - name: JOB_COMPLETION_INDEX
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['batch.kubernetes.io/job-completion-index']
            - name: REPL_DB_HOST
              value: "{{$name}}-repl-$(JOB_COMPLETION_INDEX).{{$name}}-repl.{{$ns}}.svc"
            - name: REPL_DB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: repl-secrets
                  key: mariadb-root-password
            - name: REPL_DB_QSREPLICA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: repl-secrets
                  key: mariadb-qsreplica-password
            - name: REPL_DB_ROOT_CONN
              value: "mysql://root:$(REPL_DB_ROOT_PASSWORD)@$(REPL_DB_HOST):3306/qservReplica"
            - name: REPL_DB_CONN
              value: "mysql://qsreplica:$(REPL_DB_QSREPLICA_PASSWORD)@$(REPL_DB_HOST):3306/qservReplica"
          command: ["entrypoint"]
          args:
            - "smig-update"
            - "--repl-connection=$(REPL_DB_ROOT_CONN)"
            - "--repl-connection-nonadmin=$(REPL_DB_CONN)"
{{- end }}
