{{- $myjob := .Values.workerSmig | default (dict) -}}
{{- $trig  := get $myjob "runId" | default "" | toString -}}
{{- if $trig -}}
{{- $name := include "qserv.name" . -}}
{{- $ns := .Release.Namespace -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{$name}}-worker-smig-{{$trig}}
  labels:
    {{- include "qserv.labels" . | nindent 4 }}
    app.kubernetes.io/component: schema
spec:
  completionMode: Indexed
  completions: {{ .Values.workers.replicas }}
  parallelism: {{ .Values.workers.replicas }}
  backoffLimit: 0
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        {{- include "qserv.labels" . | nindent 8 }}
        app.kubernetes.io/component: schema
    spec:
      restartPolicy: Never
      containers:
        - name: worker-smig
          image: {{ .Values.qservImageName | quote }}
          imagePullPolicy: {{ .Values.qservImagePullPolicy | quote }}
          env:
            - name: JOB_COMPLETION_INDEX
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['batch.kubernetes.io/job-completion-index']
            - name: WORKER_DB_HOST
              value: "{{$name}}-worker-$(JOB_COMPLETION_INDEX).{{$name}}-worker.{{$ns}}.svc"
            - name: WORKER_DB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: worker-secrets
                  key: mariadb-root-password
            - name: WORKER_DB_QSMASTER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: worker-secrets
                  key: mariadb-qsmaster-password
            - name: WORKER_DB_CONN
              value: "mysql://root:$(WORKER_DB_ROOT_PASSWORD)@$(WORKER_DB_HOST):3306/qservw_worker"
          command: ["/bin/sh", "-c"]
          args:
            - |
              WORKER_ID=$(printf "%03d" "$JOB_COMPLETION_INDEX")
              exec entrypoint smig-update \
                --worker-connection="${WORKER_DB_CONN}" \
                --targs=mysqld_user_qserv_password="${WORKER_DB_QSMASTER_PASSWORD}" \
                --targs=worker_name=worker-${WORKER_ID}
{{- end }}
