*~
\#*\#
.env
*.pyc
.tags
.tags_sorted_by_file
/build/
/parallel-cmd-log/
/.cproject
/.metadata/
/.project
/.settings/
/.pydevproject
/RemoteSystemTempFiles/
/nbproject/
/.vscode/
/qserv/
/doc/_build
/.mypy_cache/
/.ruff_cache/
