[submodule "extern/sphgeom"]
	path = extern/sphgeom
	url = ../../lsst/sphgeom
[submodule "extern/log"]
	path = extern/log
	url = ../../lsst/log
[submodule "extern/partition"]
	path = extern/partition
	url = ../../lsst/partition
