*.swp
*.o
*.log
*.pyc
*~
/.sconsign.dblite
/qserv-build.conf
/tmp/
common/.sconf_temp/
common/include/
common/lib/
common/python/
worker/dist/
worker/bldNoXrd/
common/config.log
common/proto/qserv_proto.deps
common/proto/worker.pb.h.deps
common/proto/worker_pb2.py
common/src/SqlConnection.hh.deps
common/src/qserv_common.deps
common/tests/SqlConnection_1
master/python/lsst/qserv/master/_masterLib.so
master/python/lsst/qserv/master/worker_pb2.py
worker/tools/nulltool
worker/tools/qsDbTool
