*.swp
*.o
*.log
common/.sconf_temp/
common/include/
common/lib/
common/python/
master/dist/
worker/dist/
worker/bldNoXrd/
common/config.log
common/proto/qserv_proto.deps
common/proto/worker.pb.h.deps
common/proto/worker_pb2.py
common/src/SqlConnection.hh.deps
common/src/qserv_common.deps
common/tests/SqlConnection_1
master/bin/runTransactions
master/bin/testCppParser
master/python/lsst/qserv/master/_masterLib.so
master/python/lsst/qserv/master/worker_pb2.py
master/src/AggregateMgr.os
master/src/AsyncQueryManager.os
master/src/ChunkMapping.os
master/src/ChunkQuery.os
master/src/MmapFile.os
master/src/PacketIter.os
master/src/SpatialUdfHandler.os
master/src/SqlInsertIter.os
master/src/SqlParseRunner.os
master/src/SqlSQL2Lexer.os
master/src/SqlSQL2Parser.os
master/src/SqlSubstitution.os
master/src/Substitution.os
master/src/TableMerger.os
master/src/TableNamer.os
master/src/TableRefChecker.os
master/src/TableRemapper.os
master/src/Templater.os
master/src/Timer.os
master/src/WorkQueue.os
master/src/dbgParse.os
master/src/dispatcher.os
master/src/parseHandlers.os
master/src/parseTreeUtil.os
master/src/thread.os
master/src/xrdfile.os
master/src/xrootd.os
worker/tools/nulltool
worker/tools/qsDbTool
