# whitelist
branches:
  only:
    - master
    - /^tickets\/.*$/

sudo: false

services:
  - docker

language: c++

before_install:
  # Set up parameters for containers deployment
  - cp ./admin/tools/docker/deployment/travis/env.sh ./admin/tools/docker/deployment/localhost/env.sh
  # While running 3_build-git-image.sh [option] <local-path>, <local-path> has to contain a git repository
  # whose current commit is a branch HEAD
  - git checkout -b travis

install:
  # Retrieve container with Qserv dependencies
  - docker pull qserv/qserv:dev

script:
  - ./admin/tools/docker/3_build-git-image.sh -L -T travis "$PWD"
  - ./admin/tools/docker/4_build-configured-images.sh -L -i travis
  - ./admin/tools/docker/deployment/localhost/run-multinode-tests.sh

notifications:
  slack:
    secure: eRFF9b5XJbZcyfxMojWTOB4bwWUVJf0CRaOYnCsV7cMCW5BwrDRwC+8tpZyEbetyici7XdFN33kW4rRp9UFfOCIsLS5fMJEKgjvgD0ybucThPsBqLE2VDzDzA6dUji7CATCPUtvoJEymM41pnvDZbXmtalipYzZJMPNXHyE8Yy0=
