#
# The Qserv installer configuration file.
#
# Used to build and install Qserv 
# Run "scons --help" to get a list of available options of the installer
#
# You can copy this file to "~/lsst/qserv.conf"
# in order to use Qserv client tools like : 
# - qserv-testdata.py,
# - qserv-benchmark.py 
#
# This file relies on Python templating system i.e. each %(variable_name)s will be replaced by the value of variable_name
# Commented values are the defaults
#
# WARNING : underneath variables mustn't be changed once the install process is started
# 
# For explanations see
# https://dev.lsstcorp.org/trac/wiki/db/Qserv/InstallAuto 

[DEFAULT]
# version = 0.5.1rc3

# Qserv will be installed in base_dir
# write access required for qserv account
base_dir = /opt/qserv-%(version)s

# Log file will be stored here
# write access required for qserv account
# log_dir = %(base_dir)s/var/log

# Temporary files will be stored here
# write access required for qserv account
# tmp_dir = %(base_dir)s/tmp

[qserv]
# [mono,master,worker]
# node_type=mono

# Port used by Qserv RPC service
# mysql-proxy will connect to Qserv using socket localhost:rpc_port
# rpc_port=7080

# Qserv master DNS name
# WARNING : do not use value localhost, but 127.0.0.1
master=qserv-master-example-name.mydomain.edu

# partitioning parameters
# # will be used both by master and partition tool
# substripes = 10
# stripes = 10

# OPTIONAL : If not already present in %(base_dir)s/qserv/master/python/lsst/qserv/master/geometry.py, geometry file will be downloaded by default
# from  git master branch :http://dev.lsstcorp.org/cgit/LSST/DMS/geom.git/plain/python/lsst/geom/geometry.py
# but a source directory may be specified  (it could be retrieved for exemple with : git clone git://dev.lsstcorp.org/LSST/DMS/geom)
# geometry will be then copied from this source directory
# geometry_src_dir=/home/user/geom

[xrootd]
# cmsd_manager_port=2131
# xrootd_port=1094

[mysql_proxy]
# port=4040

[mysqld]
# port=3306

# MySQL root password will be setted with next values
# during MySQL installation
# Be careful, special characters (',%,",...) may cause error,
# use %% instead of %
# pass=changeme

# MySQL data will be stored here
# it's recommended to use a dedicated partition in case of huge data set
# data_dir=%(base_dir)s/var/lib/mysql

[lsst]
# OPTIONAL : Where to read LSST data
# Example: PT1.1 data should be in $(data_dir)/pt11/
# data_dir=/data/lsst

