
[qmsdb]
# note, the database name can only contain alphanumberics
# and underscores. The first character may not be an underscore
db = testX
unix_socket = /var/lib/mysql/mysql.sock
user=qms
passwd = qmsPass

[logging]
outFile = /u1/qserv/sandbox/var/log/qmsServer.log
level = debug
