SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 ;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 ;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='TRADITIONAL' ;

-- Common parameters of all types of servers

REPLACE `config` VALUES ('common', 'request_buf_size_bytes',     '131072');
REPLACE `config` VALUES ('common', 'request_retry_interval_sec', '5');

-- Controller-specific parameters

REPLACE `config` VALUES ('controller', 'num_threads',         '2');
REPLACE `config` VALUES ('controller', 'http_server_port',    {{ repl_manager.http_server_port }});
REPLACE `config` VALUES ('controller', 'http_server_threads', '2');
REPLACE `config` VALUES ('controller', 'request_timeout_sec', '60');
REPLACE `config` VALUES ('controller', 'job_timeout_sec',     '60');
REPLACE `config` VALUES ('controller', 'job_heartbeat_sec',   '0');   -- temporarily disabled
REPLACE `config` VALUES ('controller', 'empty_chunks_dir',    '/qserv/data/var/lib/qserv');

-- Database service-specific parameters

REPLACE `config` VALUES ('database', 'services_pool_size',   '2');
REPLACE `config` VALUES ('database', 'qserv_master_host',    'localhost');
REPLACE `config` VALUES ('database', 'qserv_master_port',    '3306');
REPLACE `config` VALUES ('database', 'qserv_master_user',    'qsmaster');
REPLACE `config` VALUES ('database', 'qserv_master_name',    'qservMeta');
REPLACE `config` VALUES ('database', 'qserv_master_services_pool_size', '2');
REPLACE `config` VALUES ('database', 'qserv_master_tmp_dir', '/qserv/data/var/lib/ingest');

-- Connection parameters for the Qserv Management Services

REPLACE `config` VALUES ('xrootd', 'auto_notify',         '1');
REPLACE `config` VALUES ('xrootd', 'host',                'localhost');
REPLACE `config` VALUES ('xrootd', 'port',                '1094');
REPLACE `config` VALUES ('xrootd', 'request_timeout_sec', '60');

-- Default parameters for all workers unless overwritten in worker-specific
-- tables

REPLACE `config` VALUES ('worker', 'technology',                 'FS');
REPLACE `config` VALUES ('worker', 'svc_port',                   '25000');
REPLACE `config` VALUES ('worker', 'fs_port',                    '25001');
REPLACE `config` VALUES ('worker', 'num_svc_processing_threads', '2');
REPLACE `config` VALUES ('worker', 'num_fs_processing_threads',  '2');       -- double compared to the previous one to allow more elasticity
REPLACE `config` VALUES ('worker', 'fs_buf_size_bytes',          '4194304');  -- 4 MB
REPLACE `config` VALUES ('worker', 'data_dir',                   '/qserv/data/var/lib/mysql');
REPLACE `config` VALUES ('worker', 'db_port',                    '3306');
REPLACE `config` VALUES ('worker', 'db_user',                    'root');
REPLACE `config` VALUES ('worker', 'loader_port',                '25002');
REPLACE `config` VALUES ('worker', 'loader_tmp_dir',             '/qserv/data/var/lib/ingest');
REPLACE `config` VALUES ('worker', 'exporter_port',              '25003');
REPLACE `config` VALUES ('worker', 'exporter_tmp_dir',           '/qserv/data/var/lib/export');
REPLACE `config` VALUES ('worker', 'http_loader_port',           '25004');
REPLACE `config` VALUES ('worker', 'http_loader_tmp_dir',        '/qserv/data/var/lib/ingest');
REPLACE `config` VALUES ('worker', 'num_loader_processing_threads',   '2');
REPLACE `config` VALUES ('worker', 'num_exporter_processing_threads', '2');
REPLACE `config` VALUES ('worker', 'num_http_loader_processing_threads', '2');

-- Preload parameters for runnig all services on the same host

{% for worker in workers %}
  REPLACE `config_worker` VALUES (
    '{{ worker.vnid }}', 1, 0, -- name, is enabled, is read-only
    'localhost', {{ worker.svc_port }}, -- service host, service port
    'localhost', {{ worker.fs_port }}, NULL, -- file system host, file system port, data dir
    'localhost', NULL, NULL, -- qserv worker database: host, port, user        TODO!! worker db paramaeters?
    'localhost', {{ worker.loader_port }}, NULL, -- ingest service: host, port, loader temp dir
    'localhost', {{ worker.exporter_port}}, NULL, -- data export service: host, port, temp dir
    'localhost', {{ worker.http_loader_port }}, NULL -- http ingest service: host, port, temp dir
  );
{% endfor %}

-- This is the default database family for LSST production

REPLACE `config_database_family` VALUES ('production', 1, 340, 3, 0.01667);

SET SQL_MODE=@OLD_SQL_MODE ;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS ;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS ;
