
[frontend]
#xrootd=lsst-dev01:1094
#xrootd_user=qsmaster
#scratch_path=/dev/shm/qserv
#port=7080
xrootd=%(XROOTD_MANAGER_HOST)s:%(XROOTD_PORT)s
# Use /dev/shm shared memory for better performance
scratch_path=%(QSERV_SCRATCH_DIR)s
xrootd_user=qsmaster
port=%(QSERV_RPC_PORT)s

#[mgmtdb]
#db=qservMeta
# Steal resultdb settings for now.

[css]
# allowed values:zoo, mem. Default is zoo
technology=zoo

# For zoo, provide zookeeper connection information
# For local zookeeper installation, use "localhost:%(ZOOKEEPER_PORT)s"
# For mem, provide location of file containing key-value pairs
# (to learn how to dump key-value pairs, see
# qserv/core/modules/css/KvInterfaceImplMem.cc)
# TODO : localhost doesn't work on Ubuntu 14.04, why ?
connection=127.0.0.1:%(ZOOKEEPER_PORT)s

[resultdb]
#host=
#port=0
#unix_socket=/u1/local/mysql.sock
#db=qservResult
#user=qsmaster
#passwd=
#dropMem=
passwd =
db=qservResult
unix_socket=%(QSERV_DIR)s/var/lib/mysql/mysql.sock
host=
user=qsmaster
port=0

[partitioner]
emptyChunkListFile=%(QSERV_DIR)s/etc/emptyChunks.txt

#[tuning]
#memoryEngine=yes

#[debug]
#chunkLimit=-1

#[mysql]
#mysqlclient=

#[metaServer]
#host=localhost
#port=7082
#user=qms
#passwd=qmsPass


