[mysqld]

datadir=%(MYSQLD_DATA_DIR)s
socket=%(QSERV_DIR)s/var/lib/mysql/mysql.sock
# port=3306
port=%(MYSQLD_PORT)s

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# In order to avoid "table is full" error
tmp_table_size=4G
max_heap_table_size=4G

#
# * Logging and Replication
#
# Both location gets rotated by the cronjob.
# Be aware that this log type is a performance killer.
# general-log=%(QSERV_LOG_DIR)s/mysql-queries.log

[mysqld_safe]

log-error=%(QSERV_LOG_DIR)s/mysqld.log
pid-file=%(QSERV_DIR)s/var/run/mysqld/mysqld.pid

