[mysql-proxy]
# proxy-address = :4040
proxy-address = :4040

# proxy-backend-addresses = 127.0.0.1:3306
# TODO : is it usefull for multi node ?
proxy-backend-addresses = 127.0.0.1:13306

log-file=/qserv/run/var/log/mysql-proxy.log
log-level=debug

# WARNING : this option must be overload by a cmd line option 
# when using mysql-proxy init.d startup script
pid-file = /qserv/run/var/run/mysql-proxy.pid

