[client]

port = 3306
socket = /qserv/data/mysql/mysql.sock

[mysqld]

datadir = /qserv/data/mysql

# In case a repl-wrk connect using ip adresse
# then its DNS name used to  authentication will
# no more be resolved by mysqld
# An alternative would be to use a password for qservReplica user
host_cache_size=0

# Configure max number of connections
# Recommended value: 256 for every 50 simultaneous queries
max_connections = 16384
connect_timeout = 28800

socket = /qserv/data/mysql/mysql.sock
port = 3306

# Extend read and write connection timeouts that can be triggered
# by large result sets.
net_read_timeout=90000
net_write_timeout=90000

query-cache-size = 0

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

user = qserv

#
# Advanced logging
#

# Be aware that this log type is a performance killer.
general-log = 0
general-log-file = /var/log/mysql.log

log-warnings = 2

# Here you can see queries with especially long duration
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log

# Error logs are streamed by default to console
# log-error = /var/log/mysql/mysql-error.log
