[partitioner]
emptyChunkListFile=emptyChunks.txt

[frontend]
xrootd = lsst-db2:1094
scratch_path = /dev/shm/qserv

[resultdb]
passwd = 
db = qservResult
unix_socket = /scratch/lsst/var/run/mysql.sock
host = 
user = qsmaster
port = 0

[mysql]
mysqlclient=
