#fwk-ingest-contrib-info-controls label {
    font-weight: bold;
}
#fwk-ingest-user-table-request-status {
    margin-bottom: 1em;
}
#fwk-ingest-user-table-request-status #status {
    text-align: right;
}
#fwk-ingest-user-table-request-status #status.updating {
    background-color: #ffeeba;
}
#fwk-ingest-user-table-request-general div.header,
#fwk-ingest-user-table-request-errors div.header,
#fwk-ingest-user-table-request-extended div.header,
#fwk-ingest-user-table-request-schema div.header,
#fwk-ingest-user-table-request-indexes div.header {
    font-weight: bold;
    margin-top: 0.4em;
}
#fwk-ingest-user-table-request-general table pre {
    padding: 0;
    padding-top: 0.1em;
    margin: 0;
}
#fwk-ingest-user-table-request-general table #status > pre.status-in-progress {
    color: green;
}
#fwk-ingest-user-table-request-general table #status > pre.status-failed {
    color: red;
}
#fwk-ingest-user-table-request-general table #status > pre.status-failed-lr {
    color: orange;
}
#fwk-ingest-user-table-request-errors > div#error {
    width: 100%;
    height: 100%;
    padding: 1em;
    padding-top: 0;
    margin: 0;
    border:0;
    word-break: break-all;
    overflow-y: scroll;
    overflow-x: scroll;
    color: maroon;
}
#fwk-ingest-user-table-request-errors > div#error > pre {
    color: maroon;
}
#fwk-ingest-user-table-request-extended table pre {
    padding: 0;
    padding-top: 0.1em;
    margin: 0;
}
