table#fwk-ingest-contributions caption {
    caption-side:   top;
    text-align:     right;
    padding-top:    0;
}
table#fwk-ingest-contributions {
    position: relative;
}
table#fwk-ingest-contributions > thead > tr > th.sticky {
    position:sticky;
    top:80px;
    z-index:2;
}

table#fwk-ingest-contributions th.right-aligned,
table#fwk-ingest-contributions td.right-aligned {
    text-align:     right;
}
table#fwk-ingest-contributions th.center-aligned,
table#fwk-ingest-contributions td.center-aligned {
    text-align: center;
}
table#fwk-ingest-contributions tbody th,
table#fwk-ingest-contributions tbody td {
    vertical-align:top;
}
table#fwk-ingest-contributions pre {
    padding: 0;
    margin: 0;
}
table#fwk-ingest-contributions tbody pre.database_table:hover {
    cursor:pointer;
}
table#fwk-ingest-contributions tbody pre.database_table {
    color:#007bff;
}
table#fwk-ingest-contributions caption.updating {
    background-color: #ffeeba;
}
