#fwk-qserv-histograms-controls label {
    font-weight:    bold;
}
table#fwk-qserv-histograms caption {
    caption-side:   top;
    text-align:     right;
    padding-top:    0;
}
table#fwk-qserv-histograms > thead > tr > th.sticky {
    position:sticky;
    top:80px;
    z-index:2;
}
table#fwk-qserv-histograms tbody th,
table#fwk-qserv-histograms tbody td {
    vertical-align:middle;
}
table#fwk-qserv-histograms pre {
    padding: 0;
    margin: 0;
}
table#fwk-qserv-histograms caption.updating {
    background-color: #ffeeba;
}