table#fwk-controller-status pre {
    padding:    0;
    margin:     0;
}
table#fwk-controller-status th,
table#fwk-controller-status td {
    vertical-align: middle;
}
table#fwk-controller-status caption {
    caption-side:   top;
    text-align:     right;
    padding-top:    0;
}
table#fwk-controller-status caption.updating {
    background-color: #ffeeba;
}
table#fwk-controller-log pre {
    padding:    0;
    margin:     0;
}
table#fwk-controller-log thead th {
    vertical-align: middle;    
}
table#fwk-controller-log tbody th,
table#fwk-controller-log tbody td {
    vertical-align: top;    
}
table#fwk-controller-log tbody th pre {
    color: maroon;
}
