div#fwk-controller-status {
    margin-top: 1em;
}
div#fwk-controller-status #status {
    text-align: right;
}
div#fwk-controller-status #status.updating {
    background-color: #ffeeba;
}
div#fwk-controller-status-events {
    margin-top: 2em;
}
div#fwk-controller-status-events label {
    font-weight: bold;
}
table#fwk-controller-status pre {
    padding:    0;
    margin:     0;
}
table#fwk-controller-status th,
table#fwk-controller-status td {
    vertical-align: middle;
}
table#fwk-controller-status caption {
    caption-side:   top;
    text-align:     right;
    padding-top:    0;
}
table#fwk-controller-log pre {
    padding:    0;
    margin:     0;
}
table#fwk-controller-log thead th {
    vertical-align: middle;    
}
table#fwk-controller-log tbody th,
table#fwk-controller-log tbody td {
    vertical-align: top;    
}
table#fwk-controller-log tbody th pre {
    color: maroon;
}
