table#fwk-controller-config-catalogs pre {
    padding:    0;
    margin:     0;
}
table#fwk-controller-config-catalogs tbody .database_table:hover {
    cursor:pointer;
}
table#fwk-controller-config-catalogs tbody .database_table {
    color:#007bff;
}
table#fwk-controller-config-catalogs th,
table#fwk-controller-config-catalogs td {
    vertical-align: middle;
}
table#fwk-controller-config-catalogs {
    position: relative;
}
table#fwk-controller-config-catalogs > thead > tr > th.sticky {
    position:sticky;
    top:80px;
    z-index:2;
}
table#fwk-controller-config-catalogs caption {
    caption-side:   top;
    text-align:     right;
    padding-top:    0;
}
table#fwk-controller-config-catalogs caption.updating {
    background-color: #ffeeba;
}
table#fwk-controller-config-catalogs tbody pre.timestamp {
    color: maroon;
    padding-top: 3px;
}
table#fwk-controller-config-catalogs table.compact {
    margin: 0;
    margin-top: 4;
}

table#fwk-controller-config-catalogs table.compact th,
table#fwk-controller-config-catalogs table.compact td {
    padding-top: 0;
    padding-bottom: 0;
}
table#fwk-controller-config-catalogs tbody th,
table#fwk-controller-config-catalogs tbody td {
    vertical-align: top;
}
table#fwk-controller-config-catalogs tbody span {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 87.5%;
}
