src/SqlSQL2LexTokenTypes.hpp
src/SqlSQL2LexTokenTypes.txt
src/SqlSQL2Lexer.cpp
src/SqlSQL2Lexer.hpp
src/SqlSQL2Parser.cpp
src/SqlSQL2Parser.hpp
src/SqlSQL2TokenTypes.hpp
src/SqlSQL2TokenTypes.txt
src/expandedSqlSQL2.g
*~


# /
/.scon*
/config.log

# /doc/
/doc/htmlDir

# /python/lsst/qserv/master/
/python/lsst/qserv/master/masterLib.py
/python/lsst/qserv/master/*_wrap.*

# /tests/
/tests/.tests
/tests/*_[1-9]

/dist
/bin/testCppParser
/bin/myWrapper
