[partitioner]
stripes = 60
substripes = 18
emptyChunkListFile=emptyChunks.txt

[frontend]
xrootd = lsst-db2:1094
scratch_path = /dev/shm/qserv
xrootd_user = qsmaster

[table]
### chunked=Source        # this is now handled through qms
### subchunked=Object     # ditto
### alloweddbs=LSST,Test1 # ditto
partitionCols=Object:ra_PS,decl_PS,objectId;Source:raObject,declObject,objectId

[resultdb]
passwd = 
db = qservResult
unix_socket = /scratch/lsst/var/run/mysql.sock
host = 
user = qsmaster
port = 0

[mysql]
mysqlclient=

