[mysql-proxy]
# proxy-address = :4040
proxy-address = :{{MYSQLPROXY_PORT}}

# proxy-backend-addresses = 127.0.0.1:3306
# TODO : is it usefull for multi node ?
proxy-backend-addresses = {{MYSQLD_HOST}}:{{MYSQLD_PORT}}

log-file={{QSERV_LOG_DIR}}/mysql-proxy.log
log-level=debug

# WARNING : this option must be overload by a cmd line option 
# when using mysql-proxy init.d startup script
pid-file = {{QSERV_PID_DIR}}/mysql-proxy.pid

