[mysqld]

datadir={{MYSQLD_DATA_DIR}}
socket={{MYSQLD_SOCK}}
port={{MYSQLD_PORT}}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# In order to avoid "table is full" error
tmp_table_size=4G
max_heap_table_size=4G

# enable InnoDB support via plugin
ignore-builtin-innodb
plugin-load=innodb=ha_innodb.so
innodb_file_per_table=1

# Configure max number of connections
# Recommended value: 256 for every 50 simultaneous queries
max_connections=512

# Configure usage of stats tables if available/generated
use_stat_tables='PREFERABLY'
optimizer_use_condition_selectivity=3

#
# Advanced logging
#
# Be aware that this log type is a performance killer.
general-log=0
general-log-file={{QSERV_LOG_DIR}}/mysql-queries.log

[mysqld_safe]

log-error={{QSERV_LOG_DIR}}/mysqld.log
pid-file={{QSERV_RUN_DIR}}/var/run/mysqld/mysqld.pid

