#
# configuration file for wmgrService, production version
#

# interface to listen to, defaults to 127.0.0.1
WMGR_INTERFACE = '0.0.0.0'
WMGR_PORT = {{WMGR_PORT}}

# for production set both to 0
DEBUG = 0
TESTING = 0

LOGGER_NAME = "wmgr"

JSON_AS_ASCII = False
JSON_SORT_KEYS = True
JSONIFY_PRETTYPRINT_REGULAR = False

# complex secret key is needed for things like auth and sessions
SECRET_KEY = '{{WMGR_SECRET_KEY}}'

# ======== application-specific parameters =========

#  database connection parameters, use None for defaults
DB_HOST = '127.0.0.1'
DB_PORT = {{MYSQLD_PORT}}
DB_SOCKET = '{{MYSQLD_SOCK}}'

# regular database account
DB_USER = '{{MYSQLD_USER_QSERV}}'
DB_PASSWD = ''

# special account used to create new databases
DB_USER_PRIV = 'root'
DB_PASSWD_PRIV = '{{MYSQLD_PASSWORD_ROOT}}'

# parameters for mysql-proxy connection, these are only useful
# for czar wmgr instance
PROXY_HOST = '127.0.0.1'
PROXY_PORT = {{MYSQLPROXY_PORT}}
PROXY_USER = '{{MYSQLD_USER_QSERV}}'
PROXY_PASSWD = ''

# CSS-related parameters
# CSS_CONFIG is a dictionary as accepted by CssAccess.createFromConfig() method,
# all values in a dictionary must be strings even if they represent numbers
USE_CSS = True
CSS_CONFIG = {
    'technology': 'mysql',
    'hostname': '{{QSERV_MASTER}}',
    'port': '{{MYSQLD_PORT}}',
    'username': '{{MYSQLD_USER_QSERV}}',
    'database': 'qservCssData',
}

# location of the run directory
RUN_DIR = "{{QSERV_RUN_DIR}}"

# location of the temporary directory, used for data loading
TMP_DIR = "{{QSERV_RUN_DIR}}/tmp"

# Authentication type used by the service, one of "none", "basic" or "digest"
AUTH_TYPE = "digest"

# location of the file containing a secret
SECRET_FILE = "{{QSERV_RUN_DIR}}/etc/wmgr.secret"
