
[frontend]

xrootd={{XROOTD_MANAGER_HOST}}:{{XROOTD_PORT}}

#[mgmtdb]
#db=qservMeta
# Steal resultdb settings for now.

[css]
technology=mysql
hostname =
port =
username = qsmaster
password =
database = qservCssData
socket = {{MYSQLD_SOCK}}

[resultdb]
passwd =
db=qservResult
unix_socket={{MYSQLD_SOCK}}
host=
user=qsmaster
port=0

# database connection for QMeta database
[qmeta]
passwd =
db=qservMeta
unix_socket={{MYSQLD_SOCK}}
host=
user=qsmaster
port=0

[partitioner]
# emptyChunkPath is used to check existence of empty_$DBNAME.txt
emptyChunkPath={{QSERV_DATA_DIR}}/qserv

# If emptyChunkPath isn't defined or emptyChunkPath/empty_$DBNAME.txt
# doesn't exist then emptyChunkListFile is used for queries on $DBNAME
emptyChunkListFile={{QSERV_DATA_DIR}}/qserv/emptyChunks.txt

#[tuning]
#memoryEngine=yes

#[debug]
#chunkLimit=-1

#[mysql]
#mysqlclient=

[log]
logConfig = {{QSERV_RUN_DIR}}/etc/log4cxx.czar.properties
