
[frontend]

xrootd={{XROOTD_MANAGER_HOST}}:{{XROOTD_PORT}}
# Use /dev/shm shared memory for better performance
scratch_path={{QSERV_SCRATCH_DIR}}
port={{QSERV_RPC_PORT}}

#[mgmtdb]
#db=qservMeta
# Steal resultdb settings for now.

[css]
# allowed values:zoo, mem. Default is zoo
technology=zoo

# For zoo, provide zookeeper connection information
# For local zookeeper installation, use "localhost:{{ZOOKEEPER_PORT}}"
# For mem, provide location of file containing key-value pairs
# (to learn how to dump key-value pairs, see
# qserv/core/modules/css/KvInterfaceImplMem.cc)
# TODO : localhost doesn't work on Ubuntu 14.04, why ?
connection=127.0.0.1:{{ZOOKEEPER_PORT}}

# For zoo, you can also overwrite default timeout (10000 milisec)
#timeout=20000

[resultdb]
passwd =
db=qservResult
unix_socket={{MYSQLD_SOCK}}
host=
user=qsmaster
port=0

# database connection for QMeta database
[qmeta]
passwd =
db=qservMeta
unix_socket={{MYSQLD_SOCK}}
host=
user=qsmaster
port=0

[partitioner]
# emptyChunkPath is used to check existence of empty_$DBNAME.txt
emptyChunkPath={{QSERV_DATA_DIR}}/qserv

# If emptyChunkPath isn't defined or emptyChunkPath/empty_$DBNAME.txt
# doesn't exist then emptyChunkListFile is used for queries on $DBNAME
emptyChunkListFile={{QSERV_DATA_DIR}}/qserv/emptyChunks.txt

#[tuning]
#memoryEngine=yes

#[debug]
#chunkLimit=-1

#[mysql]
#mysqlclient=

[log]
logConfig = {{QSERV_RUN_DIR}}/etc/log4cxx.czar.properties
