# Client k8s-a2
#
[client]
# Master information - for discovering worker key ranges.
masterHost = imaster-sts-0.imaster-svc
masterPortUdp = 10042

# Default worker - if a specific worker cannot be identified for
# a request, send the request to this worker.
defWorkerHost = iworker-sts-1.iworker-svc
defWorkerPortUdp = 10043

# Client's port - request answers will be sent here.
clientPortUdp = 10050

# Time to sleep between checking every item in the DoList 
# in microseconds.
loopSleepTime = 100000

# Maximum number of lookups that can be on the DoList at a time.
doListMaxLookups = 50 

# Maximum number of inserts that can be on the DoList at a time.
doListMaxInserts = 10

# How long to sleep before checking if any lookups or inserts have completed.
maxRequestSleepTime = 10000

# Client thread pool size
threadPoolSize = 5
