# ==========================================
# PT1.2 RefObjMatch table configuration file
# ==========================================

# Partitioning
part = {
    pos1    = 'ra1, dec1'
    pos2    = 'ra2, dec2'
    flags   = 'partitioningFlags'
}

# Input CSV format
in.csv = {
    # Field names for the following query (the match-partitioner
    # currently needs the positions of both entities in a match pair):
    #
    # USE rplante_DC3b_u_pt11final;
    # SELECT m.*, r.ra, r.decl, o.ra_PS, o.decl_PS
    #     FROM RefObjMatch  AS m LEFT JOIN
    #          SimRefObject AS r ON (m.refObjectId = r.refObjectId) LEFT JOIN
    #          Object       AS o ON (m.objectId = o.objectId);
    field = [
        refObjectId
        objectId
        refRa   # Proper-motion corrected ref-obj RA.
        refDec  # Proper-motion corrected ref-obj Dec.
        angSep
        nRefMatches
        nObjMatches
        closestToRef
        closestToObj
        flags
        ra1     # SimRefObject.ra
        dec1    # SimRefObject.decl
        ra2     # Object.ra_PS
        dec2    # Object.decl_PS
    ]
}

# Output CSV format
out.csv = {
    null      = '\\N'
    delimiter = '\t'
    escape    = '\\'
    no-quote  = true
    # Drop the ra1, dec1, ra2, dec2 fields.
    field = [
        refObjectId
        objectId
        refRa
        refDec
        angSep
        nRefMatches
        nObjMatches
        closestToRef
        closestToObj
        flags
    ]
}
