# =====================================
# PT1.2 Source table configuration file
# =====================================

# Source table primary key column.
id = sourceId

# Position columns other than the partitioning position.
pos = [
    'ra, decl'
    'raFlux, declFlux'
    'raPeak, declPeak'
    'raAstrom, declAstrom'
]

# Partitioning parameters.
part = {
    # The ID of the object associated with each source -
    # points into the Object table.
    id = objectId
    # The partitioning position is the position of the associated object.
    pos = 'raObject, declObject'
    # Omit overlap for sources - this means spatial joins involving the
    # Source table directly will not work.
    overlap = 0.0
}

# Output CSV format.
out.csv = {
    null      = '\\N'
    delimiter = '\t'
    escape    = '\\'
    no-quote  = true
}

in.csv = {
    # List of Source table column names, in order of occurrence.
    field = [
        sourceId
        scienceCcdExposureId
        filterId
        objectId
        movingObjectId
        procHistoryId
        ra
        raErrForDetection
        raErrForWcs
        decl
        declErrForDetection
        declErrForWcs
        xFlux
        xFluxErr
        yFlux
        yFluxErr
        raFlux
        raFluxErr
        declFlux
        declFluxErr
        xPeak
        yPeak
        raPeak
        declPeak
        xAstrom
        xAstromErr
        yAstrom
        yAstromErr
        raAstrom
        raAstromErr
        declAstrom
        declAstromErr
        raObject
        declObject
        taiMidPoint
        taiRange
        psfFlux
        psfFluxErr
        apFlux
        apFluxErr
        modelFlux
        modelFluxErr
        petroFlux
        petroFluxErr
        instFlux
        instFluxErr
        nonGrayCorrFlux
        nonGrayCorrFluxErr
        atmCorrFlux
        atmCorrFluxErr
        apDia
        Ixx
        IxxErr
        Iyy
        IyyErr
        Ixy
        IxyErr
        snr
        chi2
        sky
        skyErr
        extendedness
        flux_PS
        flux_PS_Sigma
        flux_SG
        flux_SG_Sigma
        sersicN_SG
        sersicN_SG_Sigma
        e1_SG
        e1_SG_Sigma
        e2_SG
        e2_SG_Sigma
        radius_SG
        radius_SG_Sigma
        flux_flux_SG_Cov
        flux_e1_SG_Cov
        flux_e2_SG_Cov
        flux_radius_SG_Cov
        flux_sersicN_SG_Cov
        e1_e1_SG_Cov
        e1_e2_SG_Cov
        e1_radius_SG_Cov
        e1_sersicN_SG_Cov
        e2_e2_SG_Cov
        e2_radius_SG_Cov
        e2_sersicN_SG_Cov
        radius_radius_SG_Cov
        radius_sersicN_SG_Cov
        sersicN_sersicN_SG_Cov
        flagForAssociation
        flagForDetection
        flagForWcs
    ]
}
